<?xml version="1.0"?>
<config>
    <data_directory>screenshots</data_directory>
    <vm_name>夜神模拟器</vm_name>
    <app_name>西瓜视频</app_name>
    <search_engine>http://www.baidu.com</search_engine><!-- 这里换搜索引擎-->
    <hot_key>F2</hot_key>
    <ocr_engine>baidu</ocr_engine><!-- 这里换ocr，默认用的百度-->
    <api_version>1</api_version>
    <hanwan_appcode>79707643e13145d2a470ce27e685cb6a</hanwan_appcode>
    <app_id>10685256</app_id>
    <app_key>HXaNc3lmpStCNVIQcG8hGB5l</app_key>
    <app_secret>1x7KQTKEuXECIqqH1D5Fa45sgLV4wBGi</app_secret>
</config>

